# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Misc
.DS_Store
*.pem
xa
.env.local
.env.*.local
*.log
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
be-new/api-gateway/logs/access.log
# hoặc ignore toàn bộ thư mục logs nếu muốn:
be-new/api-gateway/logs/